[project]
	description = An animation board to show your wordpress tags.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/beeender
[access "refs/for/refs/*"]
	read = group user/beeender
	push = group user/beeender
	label-Code-Review = -2..+2 group user/beeender
	label-Verified = -1..+1 group user/beeender
	rebase = group user/beeender
	removeReviewer = group user/beeender
	submit = group user/beeender
[access "refs/heads/*"]
	read = group user/beeender
	create = group user/beeender
	push = +force group user/beeender
	pushMerge = group user/beeender
[access "refs/tags/*"]
	push = +force group user/beeender
	pushTag = group user/beeender
	pushSignedTag = group user/beeender
